.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__buttons {
  display: flex;
  gap: 50px;
}

@media (max-width: 1261px) {
  header {
    display: none;
  }
}
