.skill,
.skills__content,
.skill_name,
.skill__description {
  display: flex;
}

.skill,
.skill_name {
  align-items: center;
}

.skill {
  align-items: end;
}

.skill__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.skills__content {
  background-image: url("../images/laptop.png");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  justify-content: center;
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 84px;
  background: rgb(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
}

.skill_name {
  gap: 10px;
}

.skill__description {
  gap: 20px;
}

.skill__description span,
.skill_name {
  color: var(--white_color);
}

.skill__description span {
  font-size: 13px;
}

@media screen and (max-width: 640px) {
  /* .skill__description {
    flex-direction: column;
  }

  .skills__list {
    gap: 20px;
  } */
}

@media screen and (max-width: 860px) {
  .skills__list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1148px) {
  .skill {
    justify-content: center;
  }
}
